body{
    font-family: "Helvetica";
}

header{
    color: white;
    background: black;
    margin: 1em;
    padding: 1em;

}

header figure, header section{
    display: inline-block;
    margin: 0;
}


header figure{
  width: 30%;  
}

header section{
    width: 60%; 
    text-align: right;
    border: none; 
}

section{
    border: solid 1px green;
    margin: 1em;
    padding: 1em;
}

section#welcome{
    text-align: center;
}


section#galeria figure{
    display: inline-block;
    width: 30%;
    border: 1px solid grey;
    margin: 1%;
}

section#galeria figure img{
    width: 100%;
    height: auto;
}

section#footer{
    text-align: center;
    color:white;
    background: gray;
    padding: 2em;
}


input{
    height: 24px;
    margin-right: -5px;
}

header input{
    width: 350px;
}

button{
    background: green;
    border:none;
    color: white;
    width: 90px;
    height: 30px;
}